:root {
    ---primary-color: #2d2254;
    ---secondray-color: #f5c42f;
    ---text-color: #c5bbec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(---primary-color);
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.6;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.calculator {
    grid-column: 3 / span 5;
    grid-row: 3 / span 6;
}
.calculator-display {
    display: flex;
    height: 25%;
}
.calculator-digits-container {
    display: grid;
    grid-column: 5 / span 5;
    grid-row: 5 / span 5;
    height: 75%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

.button-container:nth-child(20) {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
}


.button-container > button {
    width: 100%;
    height: 100%;
    text-align: center;
}